{
    "types": [
        {
            "name": "component",
            "template": "typescript/NextFuncComponent",
            "path": "./",
            "pre": "typescript/MyCustomPreScript",
            "post": "typescript/MyCustomPostScript",
            "extension": "tsx"
        },
        {
            "name": "cssmodule",
            "path": "./styles/",
            "extension": "module.css"
        }
    ],
    "groups": [
        {
            "name": "component",
            "types": ["component", "cssmodule"],
            "pre": "typescript/MyCustomGroupPreScript",
            "post": "typescript/MyCustomGroupPostScript"
        }
    ]
}
