{
    "types": [
        {
            "name": "component",
            "template": "typescript/NextFuncComponent",
            "path": "./",
            "extension": "tsx"
        },
        {
            "name": "cssmodule",
            "path": "./styles/",
            "extension": "module.css"
        }
    ],
    "groups": [{ "name": "component", "types": ["component", "cssmodule"] }]
}
