types:
- name: component
  template: typescript/NextFuncComponent.tmpl
  path: ./
  pre: typescript/MyCustomJS.lua
  post: typescript/MyCustomPostScript.lua
  suffix: .tsx
- name: cssmodule
  path: ./styles/
  suffix: .module.css
groups:
- name: component
  types:
    - component
    - cssmodule
  pre: typescript/MyCustomGroupPreScript
  post: typescript/MyCustomGroupPostScript
